extends layout

block main
  - console.log(spirits);
  if spirits === undefined || spirits.length === 0
    p You don't have any recipes listed. 
  else
    ul#lists
      each spiritList in spirits
        li
          a(href=`/spirits/${spiritList.title.toLowerCase()}`)
            h2 #{spiritList.title}
